{% extends "_base.html" %}
{% block content %}
<div class="container">
  {% if cart|length < 1 %}
  
  <div class="jumbotron jumbotron-fluid">
    <div style="text-align:center" class="container">
      <h1 class="display-4">Cart is empty!</h1>
      <a class="btn btn-warning" href="/pharma/store">Back to store</a>
    </div>
  </div>
  {% else %}
    <h3>Your cart</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Amout</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        {% for item in cart %}
          <tr>
            <td>{{item['name']}}</td>
            <td>{{item['count']}}</td>
            <td>{{ money(item['price']) }}</td>
            <td>
              <a href="/pharma/cart?id={{item['id']}}&action=delete" class="btn btn-warning text-white">Remove</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th>-</th>
            <th>{{ money(totalprice) }}</th>
            <td>
              <form method="POST" action="/pharma/orders">
                <input type="hidden" name="totalprice" value="{{totalprice}}">
                <input type="hidden" name="order" value='{{toJson(cart)}}'>
                <button type="submit" class="btn btn-danger">Order</button>
              </form>
            </td>
          </tr>
        </tfoot>
    </table>
  {% endif %}
</div>
{% endblock %}