{% extends "_base.html" %}
{% block content %}
  <div class="site-blocks-cover" style="background-image: url('assets/images/hero_1.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
          <div class="site-block-cover-content text-center">
            <h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>
            <h1>Welcome To Pharma</h1>
            <p>
              <a href="/pharma" class="btn btn-primary px-5 py-3">Shop Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row align-items-stretch section-overlap">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="banner-wrap bg-primary h-100">
            <a href="#" class="h-100">
              <h5>Free <br> Shipping</h5>
              <p>
                Shipping is free within Cairo
                <strong>Shipping outside Cairo costs extra 50LE.</strong>
              </p>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="banner-wrap h-100">
            <a href="#" class="h-100">
              <h5>Season <br> Sale 10-50% Off</h5>
              <p>
                Sale
                <strong>10-50% off most of our products.</strong>
              </p>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="banner-wrap bg-warning h-100">
            <a href="#" class="h-100">
              <h5>Buy <br> A Gift Card</h5>
              <p>
                Gift card.
                <strong>Buy a gift card and get 10% off any product.</strong>
              </p>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">Popular Products</h2>
        </div>
      </div>

      <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-lg-4 text-center item mb-4">
          {% if product["sale"] == true %}
            <span class="tag">Sale</span>
          {% endif %}
          <a href="/pharma/store/{{product['id']}}"> <img src={{product["img"]}} alt="Image"></a>
          <h3 class="text-dark"><a href="/pharma/store/{{product['id']}}">{{product["name"]}}</a></h3>
          {% if product["sale"] == true %}
            <p class="price"><del>{{product["price"]}}$</del> &mdash; 
            {{product["price"]*product["sale_percent"]}}$</p>
          {% else %}
            <p class="price">{{product["price"]}}$</p>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>

  
  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">New Products</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 block-3 products-wrap">
          <div class="nonloop-block-3 owl-carousel">
            {% for product in lastAdded %}
            <div class="text-center item mb-4">
              <a href="/pharma/store/{{product['id']}}"> <img src='{{product["img"]}}' alt="Image"></a>
              <h3 class="text-dark"><a href="/pharma/store/{{product['id']}}">{{product["name"]}}</a></h3>
              {% if product["sale"] == true %}
                <p class="price"><del>{{product["price"]}}$</del> &mdash; 
                {{product["price"]*product["sale_percent"]}}$</p>
              {% else %}
              <p class="price">{{product["price"]}}$</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">Testimonials</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 block-3 products-wrap">
          <div class="nonloop-block-3 no-direction owl-carousel">
      
            <div class="testimony">
              <blockquote>
                <img src="assets/images/person_1.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                <p>&ldquo;Quality products. Nice prices. Excellent overall.&rdquo;</p>
              </blockquote>

              <p>&mdash; Kelly Holmes</p>
            </div>
      
            <div class="testimony">
              <blockquote>
                <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                <p>&ldquo;Thanks for the product. It was delivered on time and its quality is top notch.&rdquo;</p>
              </blockquote>
            
              <p>&mdash; Aldo Morando</p>
            </div>
      
            <div class="testimony">
              <blockquote>
                <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                <p>&ldquo;I used to buy my whey protein of a local pharmacy. Guess I will stick with this website now.&rdquo;</p>
              </blockquote>
            
              <p>&mdash; Lucas Gallone</p>
            </div>
      
            <div class="testimony">
              <blockquote>
                <img src="assets/images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
                <p>&ldquo;Really nice products and good attitude.&rdquo;</p>
              </blockquote>
            
              <p>&mdash; Andrew Neel</p>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section bg-secondary bg-image" style="background-image: url('assets/images/bg_2.jpg');">
    <div class="container">
      <div class="row align-items-stretch">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('assets/images/bg_1.jpg');">
            <div class="banner-1-inner align-self-center">
              <h2>Pharma Products</h2>
              <p>Quality of our products is our biggest concern.</p>
            </div>
          </a>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <a href="#" class="banner-1 h-100 d-flex" style="background-image: url('assets/images/bg_2.jpg');">
            <div class="banner-1-inner ml-auto  align-self-center">
              <h2>Rated by Experts</h2>
              <p>Rated by experts to be the best online Pharma store.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}