{% extends "_base.html" %}
{% block content %}
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
            class="text-black">{{title}}</strong></div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          {% if title=="Error" %}
            <span class="icon-remove_circle display-3 text-danger" style="font-size: 170px;"></span>
            <h2 class="display-3 text-black">{{title}}</h2>
            {% for error in errors %}
            <p>{{error}}</p>
            {% endfor %}
          {% else %}
            <span class="icon-check_circle display-3 text-success" style="font-size: 170px;"></span>
            <h2 class="display-3 text-black">{{title}}</h2>
          {% endif %}
          <p class="lead mb-5">{{msg}}</p>
          <p><a href="/pharma" class="btn btn-md height-auto px-4 py-3 btn-primary">Back to store</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}